.algolia-autocomplete {
  width: 100%;
  background-color: var(--gray-200);
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
  padding: 15px 0;
}
.algolia-autocomplete .aa-hint {
  color: #C0C9CF;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  text-align: left;
  background-color: white;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 10px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: var(--gray-200);
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
