:root{
  --gray-900: #353B3F;
  --gray-800: #67737A;
  --gray-700: #8999A3;
  --gray-600: #ADB5BA;
  --gray-500: #C0C9CF;
  --gray-400: #E7EAEC;
  --gray-300: #EEF0F1;
  --gray-200: #F3F4F4;
  --gray-100: #FAFAFA;
}

body{
  margin: 0;
  color: var(--gray-900);
  background-color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.01em;
}

.container{
    max-width: 712px;
    margin: 0 auto;
}


h1{
    font-size: 42px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 20px;
    font-weight: normal;
    color: var(--gray-800);
}
h5{
    font-size: 14px;
    font-weight: normal;
    color: var(--gray-700);
}
