:root {
    --gray-900: #353b3f;
    --gray-800: #67737a;
    --gray-700: #8999a3;
    --gray-600: #adb5ba;
    --gray-500: #c0c9cf;
    --gray-400: #e7eaec;
    --gray-300: #eef0f1;
    --gray-200: #f3f4f4;
    --gray-100: #fafafa;
    --base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

body {
    margin: 0;
    color: var(--gray-900);
    background-color: var(--gray-100);
    -webkit-font-smoothing: antialiased;
    font-family: var(--base-font);
    letter-spacing: -0.01em;
}

.container {
    max-width: 750px;
    margin: 0 auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

h1 {
    font-size: 38px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
    font-weight: normal;
    color: var(--gray-800);
}
h5 {
    font-size: 14px;
    font-weight: normal;
    color: var(--gray-700);
}

@media screen and (max-width: 712px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
    .hide-mobile {
        display: none;
    }
}
