.card{
    background-color: white;
    border-radius: 6px;
    padding: 40px;
    margin: 40px 0;
    border: 1px solid var(--gray-200);

    &:hover{
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.05);
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    h1, h2, h3, h4, h5, h6{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    h2,
    h3 {
        margin-bottom: 15px;
    }
    h5 {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 712px){
    .card{
        margin: 20px 0;
        padding: 20px;
    }
}

.howto .card:hover{
    box-shadow: none;
}
