footer{
    padding: 23px;
    color: var(--gray-700);

    a{
        color: inherit;
        text-decoration: none;
    }
}

.footer-container{
    border-top: 1px solid var(--gray-200);
    padding-top: 22px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links{
        display: flex;
    }
    .link{
        padding: 0 11px;
    }
}
