nav{
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid var(--gray-200);
}
nav a{
    text-decoration: none;
    color: inherit;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .link{
    padding: 0 8px;
    color: var(--gray-800);
}

#logo{
    display: flex;
    align-items: center;
    font-weight: 900;
}

#logo svg{
    padding-right: 11px;
}
