body.no-scroll{
    overflow: hidden;
}

#subscribe{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(.8);
}

#subscribe.show {
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    opacity: 1;
    z-index: 1000;
    transform: scale(1);
}

#subscribe-popup {
    width: 100vw;
    height: 100vh;
    opacity: .97;
}

#subscribe-close{
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    background-color: #f5f7f9;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;

    &:hover{
        background-color: #e8eef2;
    }
}
